<th:block th:fragment="ideas" xmlns:th="http://www.thymeleaf.org">
    <!-- Filter -->
    <div class="filter">
        <form class="form-inline">
            <div class="form-group">
                <label>
                    <select class="form-control">
                        <option>Выберите статус</option>
                        <option>Одобрено</option>
                        <option>На рассмотрении</option>
                        <option>Отказано</option>
                    </select>
                </label>
            </div>
            <div class="form-group">
                <label>
                    <select class="form-control">
                        <option>Выберите фильтр</option>
                        <option>Популярное</option>
                        <option>Менее популярное</option>
                        <option>Сначала свежее</option>
                        <option>Сначала старое</option>
                    </select>
                </label>
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1"></label><input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Найти">
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-outline-danger" value="Поиск">
            </div>
        </form>
    </div>

    <nav aria-label="Page navigation example" class="float-left">
        <ul class="pagination">
            <li class="page-item" th:each="i : ${#numbers.sequence( 5, 20, 5)}" th:classappend="${pageable.pageSize eq i} ? 'active'">
                <a class="page-link" th:href="@{/ideas/(page=0, size=${i})}" th:text="${i}">~1~</a>
            </li>
        </ul>
    </nav>
    <a th:href="@{/ideas/new}" class="btn btn-danger float-right">Добавить <i class="fa fa-plus"></i></a>

    <!-- Idea -->
    <div class="card" th:each="idea : ${ideas}">
        <div class="card-header">
            <span th:text="${idea.title}">~Title~</span>
            <span class="badge badge-success float-right mt-1" th:if="${idea.status == status.APPROVED}">Одобрено</span>
            <span class="badge badge-warning float-right mt-1" th:if="${idea.status == status.LOOKING}">На рассмотрении</span>
            <span class="badge badge-danger float-right mt-1" th:if="${idea.status == status.DENIED}">Отказано</span>
            <span class="badge badge-light float-right mt-1" th:if="${idea.status == null}">Без статуса</span>
        </div>
        <div class="card-body">
            <p class="card-text description" th:text="${idea.description}">~Description~</p>
        </div>
        <div class="card-body">
            <a href="#"><em><small th:text="${idea.user.fullName + ' ( ' + idea.user.division + ' ) '}">~Full Name~ (~division~)</small></em></a>
            <a th:href="@{'/ideas/idea-' + ${idea.id}}" class="text-danger float-right">Подробнее</a>
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${pageable.pageNumber eq 0} ? 'disabled'">
                <a class="page-link" th:href="@{/ideas/(page=${pageable.pageNumber -1}, size=${pageable.pageSize})}"><i class="fa fa-arrow-left"></i></a>
            </li>
            <li class="page-item" th:each="i : ${#numbers.sequence( 0, ideas.totalPages)}" th:classappend="${pageable.pageNumber eq i} ? 'active'">
                <a class="page-link" th:href="@{/ideas/(page=${i}, size=${pageable.pageSize})}" th:text="${i+1}">~1~</a>
            </li>
            <li class="page-item" th:classappend="${pageable.pageNumber eq ideas.totalPages} ? 'disabled'">
                <a class="page-link" th:href="@{/ideas/(page=${pageable.pageNumber +1}, size=${pageable.pageSize})}"><i class="fa fa-arrow-right"></i></a>
            </li>
        </ul>
    </nav>
</th:block>

<th:block th:fragment="idea" xmlns:th="http://www.thymeleaf.org">
    <div class="card">
        <div class="card-header">
            <span class="float-left" th:text="${idea.title}">~Title~</span>
            <div th:if="${user.role == roles.USER}">
                <span class="badge badge-success float-right mt-1" th:if="${idea.status == status.APPROVED}">Одобрено</span>
                <span class="badge badge-warning float-right mt-1" th:if="${idea.status == status.LOOKING}">На рассмотрении</span>
                <span class="badge badge-danger float-right mt-1" th:if="${idea.status == status.DENIED}">Отказано</span>
                <span class="badge badge-light float-right mt-1" th:if="${idea.status == null}">Без статуса</span>
            </div>
            <div th:if="${user.role == roles.MODERATOR}" class="dropdown status-dropdown float-right">
                <button class="dropdown-toggle" data-toggle="dropdown">
                    <span class="badge badge-success float-right mt-1" th:if="${idea.status == status.APPROVED}">Одобрено</span>
                    <span class="badge badge-warning float-right mt-1" th:if="${idea.status == status.LOOKING}">На рассмотрении</span>
                    <span class="badge badge-danger float-right mt-1" th:if="${idea.status == status.DENIED}">Отказано</span>
                    <span class="badge badge-light float-right mt-1" th:if="${idea.status == null}">Без статуса</span>
                </button>
                <div class="dropdown-menu" aria-labelledby="message">
                    <form method="post" id="load-status" th:action="@{'/ideas/setStatus-' + ${idea.id}}">
                        <input type="submit" class="badge-success" name="status" th:value="${status.APPROVED.name}">
                        <input type="submit" class="mt-1 badge-warning" name="status" th:value="${status.LOOKING.name}">
                        <input type="submit" class="mt-1 badge-danger" name="status" th:value="${status.DENIED.name}">
                    </form>
                </div>
            </div>
            <a class="float-right" th:if="${user.id == idea.user.id}" th:href="@{'/ideas/idea-' + ${idea.id} + '/edit'}">FFFFFFF</a>
        </div>
        <div class="card-body">
            <p class="card-text" th:text="${idea.description}">~Description~</p>
        </div>
        <div class="card-body border-top" th:if="!${idea.images.isEmpty()}">
            <p class="font-italic">Прикрепленные изображения</p>
            <img th:each="image : ${idea.images}" th:src="${'/uploads/images/' + image.value}" alt="image">
        </div>
        <div class="card-body" th:if="!${idea.files.isEmpty()}">
            <p class="font-italic">Прикрепленные файлы</p>
            <div class="attachments">
                <a class="mx-2" th:if="${idea.files != null}" th:each="file : ${idea.files}" th:href="@{'/uploads/files/' + ${file.value}}" th:target="_blank">
                    <img th:if="${#strings.contains(file.key, '.docx')}" src="/static/images/word.png" alt="docx">
                    <img th:if="${#strings.contains(file.key, '.xlsx')}" src="/static/images/excel.png" alt="excel">
                    <img th:if="${#strings.contains(file.key, '.pptx')}" src="/static/images/powerpoint.png" alt="pptx">
                    <br>
                    <span class="subdescription" th:text="${file.key}"></span>
                </a>
            </div>
        </div>
        <div class="card-body border-top">
            <a th:href="@{'/profile/id' + ${idea.user.id}}" class="float-left"><em><small th:text="${idea.user.fullName + ' ( ' + idea.user.division + ' ) '}">~Full Name~ (~division~)</small></em></a>
            <p class="float-right" th:text="${idea.date}"></p>
        </div>
    </div>
</th:block>

<th:block th:fragment="new" xmlns:th="http://www.thymeleaf.org">
    <form method="post" th:action="@{/ideas/add}" enctype="multipart/form-data">

        <div class="form-group">
            <label><input type="text" name="title" class="form-control" id="title"></label>
        </div>

        <div class="form-group">
            <label><input type="text" name="description" class="form-control" id="description"></label>
        </div>

        <div class="form-group">
            <label for="partImages"><i class="fa fa-file-image-o"></i></label>
            <input type="file" id="partImages" name="images" accept="image/*" multiple />
        </div>
        <div class="form-group">
            <label for="partFiles"><i class="fa fa-file-o"></i></label>
            <input type="file" id="partFiles" name="files" accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document" multiple />
        </div>

        <button type="submit">Готово</button>
    </form>
    <p th:text="${success}"></p>
</th:block>

<th:block th:fragment="edit" xmlns:th="http://www.thymeleaf.org">
    <form class="card" th:method="POST" th:action="@{'/ideas/idea-' + ${idea.id} + '/edit'}" th:object="${idea}">
        <div class="card-header">
            <input type="text" class="float-left" th:text="${idea.title}"/>
            <!--                    Close & Save-->
        </div>
        <div class="card-body">
            <input type="text" class="card-text" th:text="${idea.description}"/>
        </div>
        <div class="card-body border-top" th:if="!${idea.images.isEmpty()}">
            <p class="font-italic">Прикрепленные изображения</p>
            <div th:each="image : ${idea.images}">
                <img class="editImage" th:src="${'/uploads/images/' + image.value}" th:id="${image.id}" alt="image">
            </div>
        </div>
        <div class="card-body" th:if="!${idea.files.isEmpty()}">
            <p class="font-italic">Прикрепленные файлы</p>
            <div class="attachments files">
                <div th:each="file, p : ${idea.files}" th:id="${p.index}" th:data-index="${file.value}">
                    <a class="mx-2 editFile" th:if="${idea.files != null}" href="#">
                        <img th:if="${#strings.contains(file.key, '.docx')}" src="/static/images/word.png" alt="docx">
                        <img th:if="${#strings.contains(file.key, '.xlsx')}" src="/static/images/excel.png" alt="excel">
                        <img th:if="${#strings.contains(file.key, '.pptx')}" src="/static/images/powerpoint.png" alt="pptx">
                        <br>
                        <span class="subdescription" th:text="${file.key}"></span>
                    </a>
                    <input type="button" th:onclick="'remFile(' + ${p.index} + ')'">
                </div>
            </div>
        </div>
        <div class="card-body border-top">
            <a th:href="@{'/profile/id' + ${idea.user.id}}" class="float-left"><em><small th:text="${idea.user.fullName + ' ( ' + idea.user.division + ' ) '}">~Full Name~ (~division~)</small></em></a>
            <p class="float-right" th:text="${idea.date}"></p>
        </div>
    </form>
</th:block>