<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Главная</title>
    <th:block th:insert="common/page :: head"/>
    <style>
        .border-bottom{
            border-bottom: 2px double #ff000029 !important;
        }
        h2{
            color: darkslategray;
        }
    </style>
</head>

<body class="open">
    <!-- Left Panel -->
    <th:block th:insert="common/page :: leftPanel"/>

    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <th:block th:insert="common/page :: header"/>

        <!-- Content -->
        <div class="content">

            <!-- Animated -->
            <div class="animated fadeIn">

                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="stat-widget-five">
                                    <div class="stat-icon dib flat-color-1">
                                        <i class="pe-7s-light"></i>
                                    </div>
                                    <div class="stat-content">
                                        <div class="text-left dib">
                                            <div class="stat-text"><span class="count" th:text="${ideaCount}">23569</span></div>
                                            <div class="stat-heading">Идей</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="stat-widget-five">
                                    <div class="stat-icon dib flat-color-4">
                                        <i class="pe-7s-users"></i>
                                    </div>
                                    <div class="stat-content">
                                        <div class="text-left dib">
                                            <div class="stat-text"><span class="count" th:text="${userCount}">2986</span></div>
                                            <div class="stat-heading">Регистраций</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <h2 class="mb-4 border-bottom p-3">Свежие идеи <i class="fa fa-bullhorn"></i></h2>

                <div class="row">
                    <div class="col-md-4" th:each="idea : ${newIdeas}">
                        <div class="card">
                            <div class="card-header">
                                <span th:text="${idea.title}">~Title~</span><span class="color-gray small" th:text="' #' + ${idea.id}">~ID~</span>
                                <span class="badge badge-danger float-right mt-1" th:text="${idea.likeCount}">49</span>
                            </div>
                            <div class="card-body">
                                <p class="card-text description" th:text="${idea.description}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                            <div class="card-body">
                                <a th:href="@{'/profile/id' + ${idea.user.id}}"><em><small th:text="${idea.user.name + ' ( ' + idea.user.division + ' ) '}">~Full Name~ (~division~)</small></em></a>
                                <a th:href="@{'/ideas/idea-' + ${idea.id}}" class="text-danger float-right">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>

                <h2 class="mb-4 border-bottom p-3">Популярные идеи <i class="fa fa-star-half"></i></h2>

                <div class="row">
                    <div class="col-md-4" th:each="idea : ${topIdeas}">
                        <div class="card">
                            <div class="card-header">
                                <span th:text="${idea.title}">~Title~</span><span class="color-gray small" th:text="' #' + ${idea.id}">~ID~</span>
                                <span class="badge badge-danger float-right mt-1" th:text="${idea.likeCount}">49</span>
                            </div>
                            <div class="card-body">
                                <p class="card-text description" th:text="${idea.description}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                            <div class="card-body">
                                <a th:href="@{'/profile/id' + ${idea.user.id}}"><em><small th:text="${idea.user.name + ' ( ' + idea.user.division + ' ) '}">~Full Name~ (~division~)</small></em></a>
                                <a th:href="@{'/ideas/idea-' + ${idea.id}}" class="text-danger float-right">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>

                <h2 class="mb-4 border-bottom p-3">Самые активные <i class="fa fa-bolt"></i></h2>

                <div class="row">
                    <div class="col-md-4" th:each="user : ${topUsers}">
                        <aside class="profile-nav alt">
                            <section class="card">
                                <div class="card-header user-header alt" style="background-color: #ff000075">
                                    <div class="media">
                                        <a th:href="'/profile/id' + ${user.id}">
                                            <img class="align-self-center rounded-circle mr-3" style="width:85px; height:85px;" alt="" th:src="${user.avatarPath}">
                                        </a>
                                        <div class="media-body mt-3">
                                            <h4 class="text-white font-weight-bold" th:text="${user.name}">Jim Doe</h4>
                                            <p class="text-white" th:text="${user.division}">Project Manager</p>
                                        </div>
                                    </div>
                                </div>

                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <p class="my-2" style="color: #007bff"> <i class="fa fa-lightbulb-o"></i> Идеи <span class="badge badge-primary pull-right" th:text="${user.ideaSize}">10</span></p>
                                    </li>
                                    <li class="list-group-item">
                                        <p class="my-2" style="color: #28a745"> <i class="fa fa-check"></i> Одобрено <span class="badge badge-success pull-right" th:text="${user.ideaApprovedSize}">15</span></p>
                                    </li>
                                    <li class="list-group-item">
                                        <p class="my-2" style="color: #ffc107"> <i class="fa fa-eye"></i> На рассмотрении <span class="badge badge-warning pull-right" th:text="${user.ideaLookingSize}">11</span></p>
                                    </li>
                                    <li class="list-group-item">
                                        <p class="my-2" style="color: #dc3545"> <i class="fa fa-ban"></i> Отказано <span class="badge badge-danger pull-right r-activity" th:text="${user.ideaDeniedSize}">03</span></p>
                                    </li>
                                </ul>

                            </section>
                        </aside>
                    </div>
                </div>
            </div><!-- .animated -->
        </div><!-- /.content -->

        <div class="clearfix"></div>

        <!-- Footer -->
        <th:block th:insert="common/page :: footer"/>

    </div><!-- /#right-panel -->
</body>
</html>
