<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Идеи</title>
    <th:block th:insert="common/page :: head"/>
</head>

<body class="open">
<!-- Left Panel -->
<th:block th:insert="common/page :: leftPanel"/>

<!-- Right Panel -->
<div id="right-panel" class="right-panel">

    <!-- Header-->
    <th:block th:insert="common/page :: header"/>

    <!-- Content -->
    <div class="content">

        <!-- Animated -->
        <div class="animated fadeIn">

            <!-- Filter -->
            <div class="filter form-row align-items-center mb-2">
                <div class="col-sm-2">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination m-0">
                            <li class="page-item" th:each="i : ${#numbers.sequence( 5, 20, 5)}" th:classappend="${pageable.pageSize eq i} ? 'active'">
                                <a class="page-link" th:href="@{/ideas/(page=0, size=${i})}" th:text="${i}">~1~</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-sm-2">
                    <label for="valStatus" class="sr-only">Статус</label>
                    <select class="custom-select none-focus" id="valStatus">
                        <option th:each="pair : ${statuses}" th:text="${pair.name}" th:value="${pair}">~Status~</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <label for="valSort" class="sr-only">Сортировать</label>
                    <select class="custom-select none-focus" id="valSort">
                        <option>Сначала свежее</option>
                        <option>Сначала старое</option>
                        <option>Популярное</option>
                        <option>Менее популярное</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <label for="valTitle" class="sr-only">Поиск</label>
                    <input type="text" id="valTitle" class="form-control red-focus" placeholder="Найти">
                </div>
                <div class="col-sm-1">
                    <input type="button" id="filterButton" class="btn btn-outline-danger" value="Применить">
                </div>
                <div class="col-sm-2">
                    <a th:href="@{/ideas/new}" class="btn btn-danger float-right">Добавить <i class="fa fa-plus"></i></a>
                </div>
            </div>

            <div class="mb-4"><a id="getIdeasDataBase" href="/ideas/getIdeaBase">Скачать архив идей</a></div>

            <div class="ideas">

                <!-- Idea -->
                <div class="card" th:each="idea : ${ideas}">
                    <div class="card-header">
                        <div class="custom-card-header">
                            <span th:text="${idea.title}">~Title~</span>
                            <span class="color-gray ml-1 mr-2 small" th:text="' #' + ${idea.id}">~ID~</span>

                            <input type="button" class="advanced-button" id="remLike" th:data-id="${idea.id}" th:style="${idea.unLikes.contains(currentUser)} ? 'color: #ff00009e' : 'color: #f0808070'" value="❮">

                            <span th:text="${idea.likeCount}" class="count"></span>

                            <input type="button" class="advanced-button" id="addLike" th:data-id="${idea.id}" th:style="${idea.likes.contains(currentUser)} ? 'color: #ff00009e' : 'color: #f0808070'" value="❯">

                            <span class="badge badge-success float-right mt-1" th:if="${idea.status == status.APPROVED}">Одобрено</span>
                            <span class="badge badge-warning float-right mt-1" th:if="${idea.status == status.LOOKING}">На рассмотрении</span>
                            <span class="badge badge-danger float-right mt-1" th:if="${idea.status == status.DENIED}">Отказано</span>
                            <span class="badge badge-light float-right mt-1" th:if="${idea.status == null}">Без статуса</span>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text description" th:text="${idea.description}">~Description~</p>
                    </div>
                    <div class="card-body">
                        <a th:href="@{'/profile/id' + ${idea.user.id}}"><em><small th:text="${idea.user.name + ' ( ' + idea.user.division + ' ) '}">~Full Name~ (~division~)</small></em></a>
                        <a th:href="@{'/ideas/idea-' + ${idea.id}}" class="text-danger float-right">Подробнее</a>
                    </div>
                </div>

                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:classappend="${pageable.pageNumber eq 0} ? 'disabled'">
                            <a class="page-link" th:href="@{/ideas/(page=${pageable.pageNumber -1}, size=${pageable.pageSize})}"><i class="fa fa-arrow-left"></i></a>
                        </li>
                        <li class="page-item" th:each="i : ${#numbers.sequence( 0, ideas.totalPages)}" th:classappend="${pageable.pageNumber eq i} ? 'active'">
                            <a class="page-link" th:href="@{/ideas/(page=${i}, size=${pageable.pageSize})}" th:text="${i+1}">~1~</a>
                        </li>
                        <li class="page-item" th:classappend="${pageable.pageNumber eq ideas.totalPages} ? 'disabled'">
                            <a class="page-link" th:href="@{/ideas/(page=${pageable.pageNumber +1}, size=${pageable.pageSize})}"><i class="fa fa-arrow-right"></i></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div><!-- .animated -->
    </div><!-- /.content -->

    <div class="clearfix"></div>

    <!-- Footer -->
    <th:block th:insert="common/page :: footer"/>

</div><!-- /#right-panel -->
</body>
</html>