<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Идея</title>
    <th:block th:insert="common/page :: head"/>
</head>

<body class="open">
<!-- Left Panel -->
<th:block th:insert="common/page :: leftPanel"/>

<!-- Right Panel -->
<div id="right-panel" class="right-panel">

    <!-- Header-->
    <th:block th:insert="common/page :: header"/>

    <!-- Content -->
    <div class="content">

        <!-- Animated -->
        <div class="animated fadeIn">
            <div class="card">
                <div class="card-header">
                    <span class="float-left" th:text="${idea.title}">~Title~</span>
                    <div th:if="${currentUser.role == roles.USER}">
                        <span class="badge badge-success float-right mt-1" th:if="${idea.status == status.APPROVED}">Одобрено</span>
                        <span class="badge badge-warning float-right mt-1" th:if="${idea.status == status.LOOKING}">На рассмотрении</span>
                        <span class="badge badge-danger float-right mt-1" th:if="${idea.status == status.DENIED}">Отказано</span>
                        <span class="badge badge-light float-right mt-1" th:if="${idea.status == null}">Без статуса</span>
                    </div>
                    <div th:if="${currentUser.role == roles.MODERATOR}" class="dropdown status-dropdown float-right">
                        <button class="dropdown-toggle" data-toggle="dropdown">
                            <span class="badge badge-success float-right mt-1" th:if="${idea.status == status.APPROVED}">Одобрено</span>
                            <span class="badge badge-warning float-right mt-1" th:if="${idea.status == status.LOOKING}">На рассмотрении</span>
                            <span class="badge badge-danger float-right mt-1" th:if="${idea.status == status.DENIED}">Отказано</span>
                            <span class="badge badge-light float-right mt-1" th:if="${idea.status == null}">Без статуса</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="message">
                            <form method="post" id="load-status" th:action="@{'/ideas/setStatus-' + ${idea.id}}">
                                <input type="submit" class="badge-success" name="status" th:value="${status.APPROVED.name}">
                                <input type="submit" class="mt-1 badge-warning" name="status" th:value="${status.LOOKING.name}">
                                <input type="submit" class="mt-1 badge-danger" name="status" th:value="${status.DENIED.name}">
                            </form>
                        </div>
                    </div>
                    <a class="float-right" th:if="${currentUser.id == idea.user.id}" th:href="@{'/ideas/idea-' + ${idea.id} + '/edit'}">FFFFFFF</a>
                </div>
                <div class="card-body">
                    <p class="card-text" th:text="${idea.description}">~Description~</p>
                </div>
                <div class="card-body images border-top" th:if="!${idea.images.isEmpty()}">
                    <p class="font-italic">Прикрепленные изображения</p>
                    <img th:each="image : ${idea.images}" th:src="${'/uploads/images/' + image.value}" alt="image">
                </div>
                <div class="card-body" th:if="!${idea.files.isEmpty()}">
                    <p class="font-italic">Прикрепленные файлы</p>
                    <div class="attachments">
                        <a class="mx-2" th:if="${idea.files != null}" th:each="file : ${idea.files}" th:href="@{'/uploads/files/' + ${file.value}}" th:target="_blank">
                            <img th:if="${#strings.contains(file.key, '.docx')}" src="/static/images/word.png" alt="docx">
                            <img th:if="${#strings.contains(file.key, '.xlsx')}" src="/static/images/excel.png" alt="excel">
                            <img th:if="${#strings.contains(file.key, '.pptx')}" src="/static/images/powerpoint.png" alt="pptx">
                            <br>
                            <span class="subdescription" th:text="${file.key}"></span>
                        </a>
                    </div>
                </div>
                <div class="card-body border-top">
                    <a th:href="@{'/profile/id' + ${idea.user.id}}" class="float-left"><em><small th:text="${idea.user.name + ' ( ' + idea.user.division + ' ) '}">~Full Name~ (~division~)</small></em></a>
                    <p class="float-right" th:text="${idea.date}"></p>
                </div>
            </div>
        </div><!-- .animated -->
    </div><!-- /.content -->

    <div class="clearfix"></div>

    <!-- Footer -->
    <th:block th:insert="common/page :: footer"/>

</div><!-- /#right-panel -->
</body>
</html>