<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:insert="/common/page :: head" />
    <title>Авторизация</title>

    <script src="/static/js/animation.js"></script>
</head>
<body>
<div class="overlay-dark z-2"></div>
<div class="overlay-image z-1"></div>
    <div class="advanced-form pie block-center z-5">
        <h3 class="text-center text-white mb-3 text-uppercase">Вход</h3>
        <form class="form" th:action="@{/login}" method="post">
            <p id="error" class="text-danger"></p>
            <div class="form-group">
                <i class="fa fa-envelope"></i>
                <label for="username">Email</label>
                <input type="text" id="username" name="username" class="form-control text-white advanced-input form-control-lg rounded-0 pl-5" autofocus="autofocus" />
            </div>
            <div class="form-group">
                <i class="fa fa-lock"></i>
                <label for="password">Пароль</label>
                <input type="password" id="password" name="password" class="form-control text-white advanced-input form-control-lg rounded-0 pl-5" />
            </div>
            <div class="form-group text-center pt-3">
                <input type="submit" class="btn w-75 mb-3 btn-danger btn-lg" value="Войти" /><br>
                <a href="/registration" class="advanced-href">Регистрация</a>
            </div>
        </form>
    </div>
</body>
</html>