<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Еще одна идея</title>
    <th:block th:insert="common/page :: head"/>
</head>

<body>
<!-- Left Panel -->
<th:block th:insert="common/page :: leftPanel"/>

<!-- Right Panel -->
<div id="right-panel" class="right-panel">

    <!-- Header-->
    <th:block th:insert="common/page :: header"/>

    <!-- Content -->
    <div class="content">

        <!-- Animated -->
        <div class="animated fadeIn">
            <form method="post" th:action="@{/ideas/add}" enctype="multipart/form-data">

                <div class="form-group">
                    <label><input type="text" name="title" class="form-control" id="title"></label>
                </div>

                <div class="form-group">
                    <label><input type="text" name="description" class="form-control" id="description"></label>
                </div>

                <div class="form-group">
                    <label for="partImages"><i class="fa fa-file-image-o"></i></label>
                    <input type="file" id="partImages" name="images" accept="image/*" multiple />
                </div>
                <div class="form-group">
                    <label for="partFiles"><i class="fa fa-file-o"></i></label>
                    <input type="file" id="partFiles" name="files" accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document" multiple />
                </div>

                <button type="submit">Готово</button>
            </form>
            <p th:text="${success}"></p>
        </div><!-- .animated -->
    </div><!-- /.content -->

    <div class="clearfix"></div>

    <!-- Footer -->
    <th:block th:insert="common/page :: footer"/>

</div><!-- /#right-panel -->
</body>
</html>