<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Еще одна идея</title>
    <th:block th:insert="common/page :: head"/>
</head>

<body class="open">
<!-- Left Panel -->
<th:block th:insert="common/page :: leftPanel"/>

<!-- Right Panel -->
<div id="right-panel" class="right-panel">

    <!-- Header-->
    <th:block th:insert="common/page :: header"/>

    <!-- Content -->
    <div class="content">

        <!-- Animated -->
        <div class="animated fadeIn">
            <form action="#" id="addIdeaForm" enctype="multipart/form-data">
                <div class="card">
                    <div class="card-header">
                        <div class="form-group">
                            <label for="title" class="text-danger"></label>
                            <input type="text" class="float-left advanced-input w-20" name="title" placeholder="Название идеи" id="title">
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group my-0">
                            <textarea type="text" class="card-text w-100 p-2" rows="7" placeholder="Начните описывть идею и я пропаду =)" name="description" id="description"></textarea>
                            <label for="description" class="text-danger"></label>
                        </div>
                        <div class="form-group">
                            <label for="partImages" class="label-file-input ti-gallery"></label>
                            <label for="partFiles" class="label-file-input ti-files"></label>
                        </div>
                        <div class="form-group">
                            <p class="font-italic w-100">Прикрепленные изображения</p><br>
                            <input type="file" class="custom-file-input" id="partImages" name="images" accept="image/*" multiple />
                            <div id="images" class="images"></div>
                        </div>
                        <div class="form-group">
                            <p class="font-italic w-100">Прикрепленные файлы</p><br>
                            <input type="file" class="custom-file-input" id="partFiles" name="files" accept=".xlsx,.xls,.doc, .docx,.ppt, .pptx,.txt,.pdf,.xml" multiple />
                            <div id="files" class="files text-center mt-5 row"></div>
                        </div>
                    </div>
                    <div class="card-body">
                        <button type="submit" id="formButton" class="btn btn-danger float-right">Готово</button>
                    </div>
                </div>
            </form>
        </div><!-- .animated -->
    </div><!-- /.content -->

    <div class="clearfix"></div>

    <!-- Footer -->
    <th:block th:insert="common/page :: footer"/>

</div><!-- /#right-panel -->
</body>
</html>