<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="common/page :: head"/>
    <title>Главная</title>
</head>

<body class="open">
    <!-- Left Panel -->
    <th:block th:insert="common/page :: leftPanel"/>

    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <th:block th:insert="common/page :: header"/>

        <!-- Content -->
        <div class="content">
            <!-- Animated -->
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-lg-4 col-xlg-3 col-md-5">
                        <div class="card">
                            <div class="card-body">
                                <center class="m-t-30">
                                    <img th:src="${user.avatarPath}" class="img-circle rounded-circle mb-3" width="150" height="150">
                                    <h4 class="card-title m-t-10" th:text="${user.name}">~Name~</h4>
                                    <h6 class="card-subtitle" th:text="${user.division}">~Division~</h6>
                                    <div class="text-center justify-content-md-center mt-3">
                                        <ul class="list-group list-group-flush text-left">
                                            <li class="list-group-item">
                                                <p class="my-2" style="color: #007bff"> <i class="fa fa-lightbulb-o"></i> Идеи <span class="badge badge-primary pull-right" th:text="${ideaCount}">10</span></p>
                                            </li>
                                            <li class="list-group-item">
                                                <p class="my-2" style="color: #28a745"> <i class="fa fa-check"></i> Одобрено <span class="badge badge-success pull-right" th:text="${approvedIdeas}">15</span></p>
                                            </li>
                                            <li class="list-group-item">
                                                <p class="my-2" style="color: #ffc107"> <i class="fa fa-eye"></i> На рассмотрении <span class="badge badge-warning pull-right" th:text="${lookingIdeas}">11</span></p>
                                            </li>
                                            <li class="list-group-item">
                                                <p class="my-2" style="color: #ff00009e"> <i class="fa fa-ban"></i> Отказано <span class="badge badge-danger pull-right r-activity" th:text="${deniedIdeas}">03</span></p>
                                            </li>
                                        </ul>
                                    </div>
                                </center>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-xlg-9 col-md-7">
                        <div class="card">
                            <div class="card-body">
                                <p><span>День рождения: </span><b th:text="${user.birthday != null} ? ${user.birthday} : 'Не указано'">~birthday~</b></p>
                                <p><span>Телефон: </span><b th:text="${user.phone != null} ? ${user.phone} : 'Не указано'">~phone~</b></p>
                                <p><span>Языки: </span><b th:text="${user.lang != null} ? ${user.lang} : 'Не указано'">~lang~</b></p>
                                <p><span>О себе: </span><b th:text="${user.about != null} ? ${user.about} : 'Не указано'">~about~</b></p>
                                <a th:if="${user.username == currentUser.username}" href="/profile/edit" class="btn btn-danger float-left">Изменить</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .animated -->
        </div><!-- /.content -->

        <div class="clearfix"></div>

        <!-- Footer -->
        <th:block th:insert="common/page :: footer"/>

    </div><!-- /#right-panel -->
</body>
</html>