<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="common/page :: head"/>
    <title>Главная</title>
</head>

<body class="open">
    <!-- Left Panel -->
    <th:block th:insert="common/page :: leftPanel"/>

    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <th:block th:insert="common/page :: header"/>

        <!-- Content -->
        <div class="content">
            <!-- Animated -->
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-lg-4 col-xlg-3 col-md-5">
                        <div class="card">
                            <div class="card-body">
                                <center class="m-t-30">
                                    <img th:src="${user.avatarPath}" class="img-circle rounded-circle mb-3" width="150" height="150">
                                    <h4 class="card-title m-t-10" th:text="${user.name}">~Name~</h4>
                                    <h6 class="card-subtitle" th:text="${user.division}">~Division~</h6>
                                    <div class="row text-center justify-content-md-center">
                                        <div class="col-4"><a href="#" class="link"><i class="icon-people"></i>
                                                <font class="font-medium" th:text="${user.ideas.size()}">254</font>
                                            </a></div>
                                    </div>
                                </center>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-xlg-9 col-md-7">
                        <div class="card">
                            <!-- Tab panes -->
                            <div class="card-body">
                                <p><span>День рождения: </span><b th:if="${user.birthday} != null" th:text="${user.birthday}">Не указано</b></p>
                                <p><span>Телефон: </span><b th:if="${user.phone} != 0" th:text="${user.phone}">Не указано</b></p>
                                <p><span>Доп. язык: </span><b th:if="${user.lang} != null" th:text="${user.lang}">Не указано</b></p>
                                <p><span>Обо мне: </span><b th:if="${user.about} != null" th:text="${user.about}">Не указано</b></p>
                                <a th:if="${user.username == currentUser.username}" href="/profile/edit" class="btn btn-danger float-left">Изменить</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .animated -->
        </div><!-- /.content -->

        <div class="clearfix"></div>

        <!-- Footer -->
        <th:block th:insert="common/page :: footer"/>

    </div><!-- /#right-panel -->
</body>
</html>