<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="common/page :: head"/>
    <title>Главная</title>
</head>

<body class="open">
<!-- Left Panel -->
<th:block th:insert="common/page :: leftPanel"/>

<!-- Right Panel -->
<div id="right-panel" class="right-panel">

    <!-- Header-->
    <th:block th:insert="common/page :: header"/>

    <!-- Content -->
    <div class="content">
        <!-- Animated -->
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12 align-content-center">
                    <form th:method="POST" th:action="@{/profile/edit}" th:object="${currentUser}">
                        <input type="hidden" th:value="${currentUser.id}" th:field="${currentUser.id}">
                            <div class="card">
                                <div class="card-body">
                                    <center class="m-t-30"> <img th:src="${currentUser.avatarPath}" class="img-circle rounded-circle" width="150">
                                        <input type="hidden" th:text="${currentUser.username}" th:field="*{username}"/>
                                        <input type="text" th:value="${currentUser.name}" th:field="*{name}">
                                        <input type="text" th:value="${currentUser.division}" th:field="*{division}">
                                        <input type="hidden" th:value="${currentUser.password}" th:field="*{password}"/>
                                    </center>
                                </div>
                            </div>
                            <div class="card">
                                <!-- Tab panes -->
                                <div class="card-body">
                                    <p><span>День рождения: </span><input type="date" th:value="${currentUser.birthday} != null ? ${currentUser.birthday} : ''" th:field="*{birthday}">
                                    <p><span>Телефон: </span><input type="tel" th:value="${currentUser.phone} != 0 ? ${currentUser.phone} : ''" th:field="*{phone}">
                                    <p><span>Доп. язык: </span><input type="text" th:value="${currentUser.lang} != null ? ${currentUser.lang} : ''" th:field="*{lang}">
                                    <p><span>Обо мне: </span><input type="text" th:value="${currentUser.about} != null ? ${currentUser.about} : ''" th:field="*{about}">
                                </div>
                            </div>
                        <input type="submit" value="Сохранить">
                    </form>
                </div>
            </div>
        </div><!-- .animated -->
    </div><!-- /.content -->

    <div class="clearfix"></div>

    <!-- Footer -->
    <th:block th:insert="common/page :: footer"/>

</div><!-- /#right-panel -->
</body>
</html>