<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <style>
        .color-red{
            color: #ea5f5f;
        }
    </style>

    <title>Регистрация</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form th:method="POST" th:action="@{/registration}" th:object="${user}">

                    <p th:text="${error}"></p>

                    <div class="form-group">
                        <label for="email">Email</label>:
                        <input type="text" id="email" th:field="*{username}" class="form-control" /> <br />
                        <p class="color-red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">~error~</p>
                    </div>
                    <div class="form-group">
                        <label for="password">Пароль</label>:
                        <input type="text" id="password" th:field="*{password}" class="form-control" /> <br />
                        <p class="color-red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">~error~</p>
                    </div>
                    <div class="form-group">
                        <label for="name">Имя</label>:
                        <input type="text" id="name" th:field="*{name}" class="form-control" /> <br />
                        <p class="color-red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">~error~</p>
                    </div>
                    <div class="form-group">
                        <label for="serName">Фамилия</label>:
                        <input type="text" id="serName" th:field="*{serName}" class="form-control" /> <br />
                        <p class="color-red" th:if="${#fields.hasErrors('serName')}" th:errors="*{serName}">~error~</p>
                    </div>
                    <div class="form-group">
                        <label for="secondName">Отчество</label>:
                        <input type="text" id="secondName" th:field="*{secondName}" class="form-control" /> <br />
                        <p class="color-red" th:if="${#fields.hasErrors('secondName')}" th:errors="*{secondName}">~error~</p>
                    </div>
                    <div class="form-group">
                        <label for="division">Подразделение</label>:
                        <input type="text" id="division" th:field="*{division}" class="form-control" /> <br />
                        <p class="color-red" th:if="${#fields.hasErrors('division')}" th:errors="*{division}">~error~</p>
                    </div>
                    <div class="form-group">
                        <label for="worker">Сотрудник</label>
                        <input type="radio" id="worker" name="role" value="USER" th:field="*{role}" required>
                        <label for="moderator">Модератор</label>
                        <input type="radio" id="moderator" name="role" value="MODERATOR" th:field="*{role}">
                    </div>

                    <input type="submit" class="btn btn-primary" value="Зарегистрироваться"/>
                </form>
            </div>
        </div>
    </div>
</body>
</html>